<section>
  <div>
    <div>
      <img data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-duration="1200"
      data-aos-delay="500"
      data-aos-offset="0" src="../assets/logo.png" alt="logo" class="logo" />
    </div>
    <div class="head">
      <h1  data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-duration="1200"
      data-aos-delay="300">Our Menu</h1>
      <div>
        <p data-aos="fade-left"
        data-aos-duration="1700">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo commodi
          beatae ratione distinctio omnis repellendus, molestiae consectetur! Ea
          repudiandae ipsa sapiente, beatae ab asperiores? Voluptas provident
          itaque deserunt fuga accusamus!
        </p>
      </div>
    </div>
  </div>

  <!-- content -->
  <section>
    <div class="content">
      <div>
        <img data-aos="flip-left"
        data-aos-easing="ease-out-circle"
        data-aos-duration="2000" src="../../assets/menu/menu5-removebg-preview.png" alt="fghf" />
        <div class="about">
          <h1 data-aos="fade-up"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1200"
          data-aos-delay="500">Item 01</h1>
          
          <p data-aos="fade-up"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1000"
          data-aos-delay="300">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            commodi fuga, deleniti omnis cupiditate minus laboriosam ex quo
            temporibus impedit enim non tempora iusto
          </p>
        </div>
      </div>
    </div>
    <div class="content2">
      <div>
        <img data-aos="flip-left"
        data-aos-easing="ease-out-circle"
        data-aos-duration="2000" src="../../assets/menu/menu1-removebg-preview.png" alt="fghf" />
        <div  class="about">
          <h1 data-aos="fade-up"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1200"
          data-aos-delay="500">Item 02</h1>

          <p data-aos="fade-up"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1000"
          data-aos-delay="300">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            commodi fuga, deleniti omnis cupiditate minus laboriosam ex quo
            temporibus impedit enim non tempora iusto
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="content">
      <div>
        <img data-aos="flip-left"
        data-aos-easing="ease-out-circle"
        data-aos-duration="2000" src="../../assets/menu/menu2-removebg-preview.png" alt="fghf" />
        <div class="about">
          <h1 data-aos="fade-up"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1200"
          data-aos-delay="500">Item 03</h1>

          <p data-aos="fade-up"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1000"
          data-aos-delay="300">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            commodi fuga, deleniti omnis cupiditate minus laboriosam ex quo
            temporibus impedit enim non tempora iusto
          </p>
        </div>
      </div>
    </div>
    <div class="content2">
      <div>
        <img data-aos="flip-left"
        data-aos-easing="ease-out-circle"
        data-aos-duration="2000" src="../../assets/menu/menu4-removebg-preview.png" alt="fghf" />
        <div class="about">
          <h1 data-aos="fade-up"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1200"
          data-aos-delay="500">Item 04</h1>

          <p data-aos="fade-up"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1000"
          data-aos-delay="300">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            commodi fuga, deleniti omnis cupiditate minus laboriosam ex quo
            temporibus impedit enim non tempora iusto
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
