<section class="section">
    <div class="left ">
        <div>
            <p data-aos="zoom-out-right"
            data-aos-duration="1000"
            data-aos-easing="ease-in-sine">A Premium And Authentic Steakhouse</p>
        </div>
        <button data-aos="fade-up"
        data-aos-duration="1000" type="button" class="btn btn-success" (click)="seeMore()">See More..</button>
        <div class="hand">
            <img data-aos="zoom-in-right" data-aos-duration="1200" src="../../assets/hand1.png" alt="">
        </div>
    </div>
    <div class="right" >
        <img data-aos="fade-down" data-aos-duration="1500" data-aos-easing="linear" src="../../assets/food.png" class="rounded float-end" alt="...">
    </div>
</section>

<app-about-page></app-about-page>
<app-menu-page></app-menu-page>
<app-ingredient-page></app-ingredient-page>
<app-contact-page></app-contact-page>
