body {
    background: rgba(255, 255, 255, 0.4);
}

.textFldPanes {
    background-color: rgb(84, 89, 93);
    box-shadow: rgb(36, 33, 33) 0 19px 38px, rgba(244, 239, 239, 0.22) 0 15px 12px;    border-radius: 8px;
}

.txtFld{
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;    border-radius: 8px;
}

.searchFld:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;    border-radius: 8px;

}

.sccHeadingBar{
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

.mainLoader {
    border-radius: 20px;
    width: max-content;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.tableHead{
    border-radius: 8px !important;
}

.classTbl{
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px, rgba(0, 0, 0, 0.3) 0 18px 36px -18px;
}

.btnBackGround{
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.formBackGround{
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.purchaceBtn:hover{
    background-color: #3CCF4E;
    color: white;
}