<section class="section">
    <div class="container">
        <div class="container1">
            <div>
                <img  src="../../assets/image.jpg" class="rounded-4 rounded-end-0" alt="">
            </div>
        </div>
        <div class="container2">
            <div>
               <img src="../../assets/logo.png" alt="">
                <h1>Our Story</h1>
            
                <p class="">ecessiculpa aliquam mollitia pariatur consectetur aliquid itaque laborum cumque animi, illo eveniet quos?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero praesentium, eligendi eius incidunt molestias recusandae enim officia tenetur reiciendis quo doloremque consectetur laudantium voluptatibus quidem exercitationem. Temporibus nesciunt accusantium </p>
                <p class="title">dfsdfdf</p>
            </div>
        </div>
    </div>
    <div class="background">
        <div class="back1">
            <img src="../../assets/background5.png" alt="">
        </div>
    </div>
</section>
