<section>
 <div class="main">
    <div class="main-content">
        <h4 class="d-flex justify-content-center">Piyumal</h4>
        <h1 class="page-header d-flex justify-content-center">
          Our Best Ingredients
        </h1>
        <p class="d-flex justify-content-center">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit veniam a
          labore expedita amet cum, natus, corrupti minima sit consequuntur tempore
          quo provident voluptas! Sed saepe ab vel quidem reprehenderit?
        </p>
    </div>
    <div class="second-content">
        <img src="../../assets/ingredient.png" alt="" />
    </div>
 </div>
</section>
