<section>
    <div class="main" data-aos="fade-up"
    data-aos-duration="2000">
       <div class="main-content">
           <h4 class="d-flex justify-content-center"  data-aos="zoom-in-down" data-aos-duration="2000">Piyumal</h4>
           <h1 class="page-header d-flex justify-content-center"  data-aos="zoom-in-down" data-aos-duration="2500">
             Our Best Ingredients
           </h1>
           <div class="button1">
             <button data-aos="zoom-in-down" data-aos-duration="3000" type="button" class="btn btn-outline-success">Booking</button>
           </div>
       </div>
    </div>
   </section>
   