<header>

    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">

                <img alt="Bootstrap" height="29" src="../../assets/logo.png"
                     style="margin-right: 5px"
                     width="35"></a>

            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button routerLink="/home" aria-current="page" class="nav-link btn btn-dark active" id="Home">Home</button>
                    </li>

                    <li class="nav-item">
                        <button routerLink="/customer" class="nav-link btn btn-dark" id="Customer">Customers</button>
                    </li>

                    <li class="nav-item">
                        <button routerLink="/item" class="nav-link btn btn-dark" id="Item">Items</button>
                    </li>

                    <li class="nav-item">
                        <button routerLink="/orders" class="nav-link btn btn-dark" id="Order">Orders</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
